<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear/>
        <add key="enterprise-architecture" value="https://tfs.eprod.com/Enterprise%20Architecture/_packaging/ea/nuget/v3/index.json"/>
    </packageSources>
    <packageSourceCredentials>
        <enterprise-architecture>
            <add key="Username" value="%NuGetUsername%"/>
            <add key="ClearTextPassword" value="%NuGetPassword%"/>
            <add key="ValidAuthenticationTypes" value="basic" />
        </enterprise-architecture>
    </packageSourceCredentials>
    <packageSourceMapping>
        <packageSource key="enterprise-architecture">
            <package pattern="*"/>
        </packageSource>
    </packageSourceMapping>
</configuration>
